*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// this defines wat 1rem is
	font-size: 62.5%; //1rem = 10 px; 10px/16px = 62.5%

	@include respond(tab-land) {
		// width < 1200?
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}

	@include respond(phone) {
		font-size: 30%; // 1rem = 4.8px, 4.8/16 = 30%
	}

	@include respond(big-desk) {
		font-size: 75%; //1 rem = 12 px, 12/16 = 75%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tab-port) {
		padding: 0;
	}
}
